<div class="form-container no-auth-form">
    <h2>Login</h2>
    <form ng-submit="submit()">
        <div class="input-container">
            <label>Email</label>
            <input type="email" placeholder="Enter your email" ng-model="form.login.value">
        </div>
        <div class="input-container">
            <label>Password</label>
            <input type="password" placeholder="Enter your password" ng-model="form.password_1.value">
        </div>
        <div class="input-container">
            <label>Repeat password</label>
            <input type="password" placeholder="Enter your password" ng-model="form.password_2.value">
        </div>
        <div class="input-container">
            <label>First name</label>
            <input type="text" placeholder="Enter your password" ng-model="form.firstname.value">
        </div>
        <div class="input-container">
            <label>Last name</label>
            <input type="text" placeholder="Enter your password" ng-model="form.lastname.value">
        </div>
        <button type="submit" class="submit-no-auth">Sign up</button>
    </form>
    <a href="/#!/login" class="form-link submit-no-auth">Login</a>
</div>