<div class="form-container no-auth-form">
    <h2>Регистрация</h2>
    <form ng-submit="submit()">
        <div class="input-container">
            <label>Email</label>
            <input type="email" placeholder="Введите email" ng-model="form.login.value">
        </div>
        <div class="input-container">
            <label>Пароль</label>
            <input type="password" placeholder="Введите пароль" ng-model="form.password_1.value">
        </div>
        <div class="input-container">
            <label>Повторите пароль</label>
            <input type="password" placeholder="Повторите пароль" ng-model="form.password_2.value">
        </div>
        <div class="input-container">
            <label>Имя</label>
            <input type="text" placeholder="Введите имя" ng-model="form.firstname.value">
        </div>
        <div class="input-container">
            <label>Фамилия</label>
            <input type="text" placeholder="Введите фамилию" ng-model="form.lastname.value">
        </div>
        <button type="submit" class="submit-no-auth">Зарегистрироваться</button>
    </form>
    <a href="/#!/login" class="form-link submit-no-auth">Авторизация</a>
</div>