.form-container {
    display: flex;
    flex-direction: column;
}

.no-auth-form {
    background: #e6e9ef;
    width: 30%;
    border-radius: 5px;
    padding: 15px;
    max-width: 400px;
}

.no-auth-form h2 {
    font: normal 1.4em arial, tahoma;
    color: #626d82;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.input-container-horizontal {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.input-container label, .input-container-horizontal label {
    font: 300 1em/1.5em arial, tahoma;
    color: #777;
}

.input-container input, .input-container-horizontal input {
    height: 2em;
    border: none;
    background: transparent;
    border-bottom: solid 1px #777;
    font: normal .8em arial, tahoma;
    color: #626d82;
}

.submit-no-auth {
    margin: 5px 0;
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #dbdbdb;
    font: normal .95em arial, tahoma;
    color: #626d82;
}

.submit-no-auth:hover {
    background: #626d82;
    color: #dbdbdb;
}

.form-link {
    display: flex;
    justify-content: center;
    align-items: center;
}