<div class="form-container no-auth-form">
    <h2>Авторизация</h2>
    <form ng-submit="submit()">
        <div class="input-container">
            <label>Логин</label>
            <input type="text" placeholder="Введите ваш логин" ng-model="form.login.value">
        </div>
        <div class="input-container">
            <label>Пароль</label>
            <input type="password" placeholder="Введите ваш пароль" ng-model="form.password.value">
        </div>
        <button type="submit" class="submit-no-auth">Войти</button>
    </form>
    <a href="/#!/signup" class="form-link submit-no-auth">Регистрация</a>
</div>