<md-dialog flex="50">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create a new answer</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fas fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="input-md">
                    <label>Title</label>
                    <input type="text" ng-model="answer.title" flex="100">
                </md-input-container>
                <br>
                <md-checkbox md-no-ink ng-model="answer.isValid" aria-label="No Ink Effects">is valid</md-checkbox>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="create()" class="md-primary">
                Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>