<div class="content-container">
    <div class="content-header">
        <h2>Тесты</h2>
        <div class="content-header-content">
            <form ng-submit="getTestList()">
                <input type="text" placeholder="писк тестов" ng-model="search" />
                <button type="submit">найти</button>
            </form>
            <a href="#!/addtest" class="link-button" title="Add test">+</a>
        </div>
    </div>
    <div class="content-data">
        <ul ng-if="testList.length">
            <li ng-repeat="test in testList">
                <a
                    href="#!/{{uid === test.owner ? !test.materials.length ? test._id + '/upload' : test._id + '/questionlist' : 'test/' + test._id}}"
                    title="Open test"
                >
                    <label>{{test.title}}</label>
                    <i ng-if="test.owner !== uid" class="fa fa-chevron-right item-icon" aria-hidden="true"></i>
                    <i ng-if="test.owner === uid" class="fa fa-cog item-icon" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <span ng-if="!testList.length && !isLoading">Нет тестов</span>
        <div ng-if="isLoading" class="loader">Loading...</div>
    </div>
</div>