<div class="content-container">
    <div class="content-header">
        <h2 ng-if="!isLoading">Тест: {{analytic.test.title}}</h2>
    </div>
    <div class="content-data">
        <div class="test-info" ng-if="!isLoading">
            <span>Вопросов: {{analytic.test.questions.length}}</span>
            <span>Максимально баллов: {{analytic.test.total}}</span>
            <span>Набрано баллов: {{analytic.total}} - {{analytic.percent}}%</span>
            <span>Оценка: {{analytic.points}}</span>
            <span>Пользователь: {{analytic.user.firstname}} {{analytic.user.lastname}}</span>
            <span>Дата: {{getDate(analytic.createdAt)}}</span>
        </div>
        <div ng-if="isLoading" class="loader">Loading...</div>
    </div>
</div>