<div class="content-container">
    <div class="content-header">
        <h2 ng-if="!isLoading">Вопрос {{questionIndex + 1}}</h2>
    </div>
    <div class="content-data">
        <div class="test-info" ng-if="!isLoading">
            <span>{{question.title}}</span>
        </div>
        <form ng-submit="send()">
            <div ng-repeat="answer in question.answers">
                <input type="radio" name="answer" ng-model="selected.answerId" ng-value="'{{answer._id}}'"/>
                <label>{{answer.title}}</label>
            </div>
            <button class="form-btn">Ответить</button>
        </form>
        <div ng-if="isLoading" class="loader">Loading...</div>
    </div>
</div>