<div class="content-container">
    <div class="content-header">
        <h2>Создание нового теста</h2>
    </div>
    <div class="content-data">
        <form ng-submit="submit()">
            <div class="form-input">
                <label>Заголовок</label>
                <input type="text" placeholder="впишите заголовок нового теста" ng-model="data.title" />
            </div>
            <div class="form-input">
                <label>Описание</label>
                <textarea ng-model="data.description" placeholder="впишите описание нового теста"></textarea>
            </div>
            <button type="submit" class="form-btn">Далее</button>
        </form>
    </div>
</div>