<div class="content-container">
    <div class="content-header">
        <h2>Список вопросов</h2>
    </div>
    <div class="content-data">
        <form ng-submit="submit()">
            <div class="form-input">
                <label>Вопрос</label>
                <input type="text" placeholder="введите вопрос" ng-model="data.title" />
            </div>
            <div class="form-input">
                <label>Баллы за правильный ответ</label>
                <input type="number" placeholder="введите баллы" ng-model="data.total" />
            </div>
            <button type="submit" class="form-btn">Добавить</button>
        </form>
        <ul ng-if="questions.length" class="list-block">
            <li ng-repeat="question in questions">
                <span>{{question.title}} (answers: {{question.answers.length}})</span>
                <div class="action-list">
                    <i class="fas fa-plus pointer" title="Add answer" ng-click="showAddForm($index)"></i>
                </div>
            </li>
        </ul>
        <span ng-if="!questions.length && !isLoading">Нет вопросов</span>
        <div ng-if="isLoading" class="loader">Loading...</div>
    </div>
</div>